/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
:root {
    --main-color: #141922;
    --secondary-color: #282828;
    --green-color: #adf92e;
    --grey-text: #a3a3a3;
}

:root {
    --footer-height: 6.25rem;
    --sidebar-width: 16.5rem;
    --sidebar-width-small: 3.125rem
}

html {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grey {
    color: var(--grey-text);
}

a.none {
    text-decoration: none;
}

.grey:hover {
    color: white;
}

/* CUSTOM SCROLL BAR */

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--green-color);
}
  