/* MEDIA QUERY tablet */
@media screen and (max-width: 1100px) {
    main .main-content .songs .song {
        width: calc((100% / 4) - 1.25rem);
    }
}

/* MEDIA QUERY mobile */
@media screen and (max-width: 700px) {
    main .main-content .songs .song {
        width: calc((100% / 2) - 1.25rem);
    }

    footer .left, footer .right {
        width: 30%;
    }
    footer .center .line-bar {
        width: 15vw;
    }
    footer .center .center-top .fa-circle-play {
        margin: 0 .625rem;
    }
    footer .center .center-top i:first-child {
        margin-right: .4688rem;
    }
    footer .center .center-top i:last-child {
        margin-left: .4688rem;
    }
    footer .left .song-button > * {
        display: block;
        margin: .625rem 0;
    }
    footer .right .fa-display {
        margin: 0 .625rem;
    }
    footer .center .center-bottom .time {
        font-size: 0.9em;
    }
}

/* MEDIA QUERY mobile small */
@media screen and (max-width: 600px) {
    main .sidebar {
        width: var(--sidebar-width-small);
        padding: .625rem 0;
        align-items: center;
        justify-content: space-between;
    }
    main .sidebar .sidebar-top .logo {
        display: none;
    }
    main .sidebar .sidebar-top .logo-small {
        display: block;
    }
    main .sidebar .menu {
        margin: 0.625rem 0;
    }
    main .sidebar .menu > a {
        display: none;
    }
    main .sidebar .sidebar-center {
        display: none;
    }
    main .sidebar .sidebar-bottom > .download > a,
    main .sidebar .sidebar-bottom hr,
    main .sidebar .sidebar-bottom > .profile > a {
        display: none;
    }
    main .sidebar .sidebar-bottom {
        padding-bottom: 0;
    }
    main .sidebar .sidebar-bottom > * > img {
        margin-right: 0;
    }
    main .sidebar .sidebar-bottom .download {
        text-align: center;
    }
    main .sidebar .sidebar-bottom .download img {
        margin-bottom: 1.875rem;
    }
    

    main .main-section {
        width: calc(100% - var(--sidebar-width-small));
        margin-left: var(--sidebar-width-small);
    }
    main .header {
        left: var(--sidebar-width-small);
    }

    footer .left img {
        height: 80%;
    }
    footer .center .line-bar {
        width: 100%;
    }
    footer .left .song-info .song-title {
        font-size: 0.65em;
    }
    footer .left .song-info .song-artist {
        font-size: 0.55em;
    }
    footer .center .center-top {
        font-size: 0.9em;
    }
    footer .right {
        font-size: 0.9em;
    }
    footer .left .song-button {
        font-size: 0.9em;
    }
    footer .center .center-bottom .time {
        font-size: 0.7em;
    }
}
