@import url('common.css');

main {
    height: calc(100vh - var(--footer-height));
    margin-bottom: var(--footer-height);
}
main .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: var(--footer-height);
    background-color: black;
    width: var(--sidebar-width);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    flex-direction: column;
    min-height: 570px;
}
main .sidebar .sidebar-center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
main .sidebar .logo {
    margin: 1.5625rem 5.5rem 1.5625rem 0;
}
main .sidebar .logo-small {
    display: none;
}
main .sidebar .menu a {
    line-height: 2.5rem;
    font-size: 0.9em;
    font-weight: bold;
}
main .sidebar .home {
    position: relative;
}
main .sidebar .home a{
    color: white;
}
main .sidebar .home::before {
    content: "";
    display: block;
    height: 40px;
    width: 4px;
    background-color: var(--green-color);
    position: absolute;
    left: -1.25rem;
}
main .sidebar .menu > img {
    width: 1.875rem;
    vertical-align: middle;
}
main .sidebar .sidebar-center > h5 {
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
    margin: 1.25rem 0 .625rem;
}
main .sidebar .add-playlist > * {
    line-height: 3.125rem;
}
main .sidebar .add-playlist a {
    font-size: 1.2em;
    font-weight: bold;
}
main .sidebar .add-playlist a:hover i {
    color: white;
}
main .sidebar .add-playlist a i {
    font-size: 2.5em;
    vertical-align: middle;
}
main .sidebar .sidebar-center ul {
    margin-top: .625rem;
    flex-grow: 1;
    overflow-y: auto;
}
main .sidebar .sidebar-center ul li {
    color: var(--grey-text);
    list-style-type: none;
    font-weight: bold;
    margin: 1.5rem 0;
}
main .sidebar .sidebar-bottom {
    padding-bottom: 1.25rem;
}
main .sidebar .sidebar-bottom hr {
    margin: .625rem 0;
}
main .sidebar .sidebar-bottom > * > *{
    line-height: 1.875rem;
    vertical-align: middle;
}
main .sidebar .sidebar-bottom > * > img {
    margin-right: .625rem;
}
main .sidebar .sidebar-bottom .download a{
    font-weight: bold;
    font-size: 0.9em;
}
main .sidebar .sidebar-bottom .download img {
    width: 1.25rem;  
}
main .sidebar .sidebar-bottom .profile a{
    color: white;
    font-weight: bold;
    font-size: 1.05em;
}
main .sidebar .sidebar-bottom .profile img{
    height: 1.875rem;
    width: 1.875rem;
    background-color: #808080; 
    padding: .125rem; 
    border-radius: 50%;
}

main .main-section {
    background-color: var(--main-color);
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    margin-left: var(--sidebar-width);
    overflow: auto;
    padding: 0 20px;
}
main .header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    left: var(--sidebar-width);
    height: var(--footer-height);
    background-color: rgba(8, 11, 18, 0.5);
    text-align: right;
    line-height: var(--footer-height);
    padding: 0 1.25rem;
}
main .header button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 99px;
    padding: 0 2.5rem;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    line-height: calc(var(--footer-height) - (var(--footer-height) * 0.5));
}
main .header a:hover button{
    transform: scale(0.95);

}
main .main-content {
    margin-top: var(--footer-height);
    width: 100%;
}
main .main-content nav ul {
    padding: 1.25rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
main .main-content nav ul li {
    margin: 0 .625rem;
    list-style-type: none;
    height: 3.125rem;
}
main .main-content nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
}
main .main-content nav ul li a.active::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background-color: var(--green-color);
    margin: .3125rem auto;
}
main .main-content {
    color: white;
}
main .main-content .create-for-jonh-doe {
    margin: 2.5rem 0;
}
main .main-content .recently-played h2 {
    margin-bottom: 1.875rem;
}
main .main-content .songs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.625rem;
}
main .main-content .songs .song {
    width: calc((100% / 6) - 1.25rem);
    margin: 0 .625rem;
    text-align: center;
}
main .main-content .songs .song img {
    width: 100%;
    display: block;
}
main .main-content .songs .img {
    position: relative;
}
main .main-content .songs .song .overlay {
    display: none;
    position: relative;
}
main .main-content .songs .song:hover .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgba(0, 0, 0, 0.7);
}
main .main-content .songs .song .overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main .main-content .songs .song h3 {
    margin: .625rem 0;
    font-size: .95em;
}
main .main-content .subtitle {
    color: var(--grey-text);
    font-size: .75em;
}
main .main-content .create-for-jonh-doe .subtitle,
main .main-content .polular-artists .subtitle {
    margin: .9375rem 0 1.25rem;
}
main .main-content .polular-artists .songs .song .img {
    border-radius: 50%;
    overflow: hidden;
}


footer {
    background-color: var(--secondary-color);
    width: 100%;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 0 .625rem;
}
footer .left, footer .right {
    width: calc(var(--sidebar-width) - .625rem)
}
footer .center {
    color: white;
    padding: 0 1.625rem;
}
footer .center .center-top {
    font-size: 1.2em;
    line-height: calc(var(--footer-height) / 2);
    text-align: center;
    position: relative;
    top: .625rem;
}
footer .center .center-top .fa-circle-play {
    font-size: 1.5em;
    vertical-align: sub;
    margin: 0 1.25rem;
}
footer .center .center-top .fa-circle-play:hover {
    transform: scale(1.1);
}
footer .center .center-top i:first-child {
    margin-right: .9375rem;
}
footer .center .center-top i:last-child {
    margin-left: .9375rem;
}
footer .center .center-bottom {
    line-height: calc(var(--footer-height) / 2);
    display: flex;
    align-items: center;
}
footer .line-bar {
    margin: 0 1.25rem;
    background-color: #5a5a5a;
    width: 20vw;
    height: 4px;
    border-radius: 2px;
}
footer .progress {
    background-color: white;
    width: 33%;
    height: 4px;
    border-radius: 2px;
    position: relative;
}
footer .center-bottom:hover .line-bar .progress,
footer .right:hover .line-bar .progress {
    background-color: var(--green-color);
}

footer .center-bottom:hover .line-bar .progress::after,
footer .right:hover .line-bar .progress::after {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -3px;
    right: 0;
}

footer .left {
    display: flex;
    align-items: center;
    color: white;
    padding: 1.25rem 0;
}
footer .left img {
    height: calc(var(--footer-height) - 40px);
}
footer .left .song-info {
    padding: 0 .625rem;
    flex-grow: 1;
}
footer .left .song-info .song-title {
    font-size: 0.75em;
}
footer .left .song-info .song-artist {
    font-size: 0.65em;
}
footer .left .song-info .song-artist:hover {
    text-decoration: underline;
}
footer .left .song-button i:first-child {
    margin-right: .3125rem;
}

footer .right {
    color: white;
    display: flex;
    align-items: center;
}
footer .right .fa-display {
    margin: 0 1.25rem;
}
footer .right .line-bar {
    margin-right: 0;
    width: auto;
    flex-grow: 1;
}
footer .right .line-bar .progress {
    width: 60%;
}